<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>this site was created by gogo, it uses data from mapbox.com and weatherstack.com</p>
        {{>footer}}
    </body>
</html>